.input-text {
  border: solid 2px $joseph-darkblue;
  font-size: rem($header-footer-font-size-px);
  height: 50px;
  padding: 10px 10px;
  line-height: 2;

  &:hover, &:focus {
    border-color: $joseph-lightblue;
    box-shadow: 1px 6px 27px 1px rgba(101,102,101,0.25);
  }
}

.input-textarea {
  border: solid 2px $joseph-darkblue;
  font-size: rem($header-footer-font-size-px);
  padding: 10px 10px;
  line-height: 2;

  &:hover, &:focus {
    border-color: $joseph-lightblue;
    box-shadow: 1px 6px 27px 1px rgba(101,102,101,0.25);
  }
}
