.project-icon {
  background-size: cover;
  display: inline-block;
  position: relative;

  &--branding {
    height: 24px;
    width: 24px;
    @include retina-image("#{$img-path}/Branding_White", 100% 100%);

    &.blue {
      @include retina-image("#{$img-path}/Branding_Blue", 100% 100%);
    }

    .project-icon-tooltip { //positioning of tooltip
      left: -27px;

      &:after {
        left: 34px;
      }
    }
  }

  &--copywriting {
    height: 24px;
    width: 24px;
    @include retina-image("#{$img-path}/Copywriting_White", 100% 100%);

    &.blue {
      @include retina-image("#{$img-path}/Copywriting_Blue", 100% 100%);
    }

    .project-icon-tooltip { //positioning of tooltip
      left: -37px;

      &:after {
        left: 44px;
      }
    }

  }

  &--book-cover {
    height: 20px;
    width: 24px;
    @include retina-image("#{$img-path}/Book_Cover_White", 100% 100%);

    &.blue {
      @include retina-image("#{$img-path}/Book_Cover_Blue", 100% 100%);
    }

    &:before {
      top: -3px !important; //override before icon positioning because height is different
    }

    .project-icon-tooltip { //positioning of tooltip
      left: -26px;

      &:after {
        left: 33px;
      }

      &--active {
        top: -44px !important; //got to account for smaller height
      }
    }
  }

  &--illustration {
    height: 22px;
    width: 24px;
    @include retina-image("#{$img-path}/Illustration_White", 100% 100%);

    &.blue {
      @include retina-image("#{$img-path}/Illustration_Blue", 100% 100%);
    }

    &:before {
      top: -1px !important; //override before icon positioning because height is different
    }

    .project-icon-tooltip { //positioning of tooltip
      left: -35px;

      &:after {
        left: 41px;
      }

      &--active {
        top: -42px !important; //got to account for smaller height
      }
    }
  }

  &--mobile {
    height: 24px;
    width: 12px;
    @include retina-image("#{$img-path}/Mobile_White", 100% 100%);

    &.blue {
      @include retina-image("#{$img-path}/Mobile_Blue", 100% 100%);
    }

    .project-icon-tooltip { //positioning of tooltip
      left: -26px;

      &:after {
        left: 27px;
      }
    }
  }

  &--photography {
    height: 20px;
    width: 24px;
    @include retina-image("#{$img-path}/Photography_White", 100% 100%);

    &.blue {
      @include retina-image("#{$img-path}/Photography_Blue", 100% 100%);
    }

    &:before {
      top: -3px !important; //override before icon positioning because height is different
    }

    .project-icon-tooltip { //positioning of tooltip
      left: -39px;

      &:after {
        left: 45px;
      }

      &--active {
        top: -44px !important; //got to make up for smaller height
      }
    }
  }

  &--poster {
    height: 24px;
    width: 18px;
    @include retina-image("#{$img-path}/Poster_White", 100% 100%);

    &.blue {
      @include retina-image("#{$img-path}/Poster_Blue", 100% 100%);
    }

    .project-icon-tooltip { //positioning of tooltip
      left: -22px;

      &:after {
        left: 26px;
      }

    }
  }

  &--typography {
    height: 18px;
    width: 24px;
    @include retina-image("#{$img-path}/Typography_White", 100% 100%);

    &.blue {
      @include retina-image("#{$img-path}/Typography_Blue", 100% 100%);
    }

    &:before {
      top: -5px !important; //override before icon positioning because height is different
    }

    .project-icon-tooltip { //positioning of tooltip
      left: -35px;

      &:after {
        left: 42px;
      }

      &--active {
        top: -46px !important;
      }
    }
  }

  &--web-design {
    height: 24px;
    width: 24px;
    @include retina-image("#{$img-path}/Web_Design_White", 100% 100%);

    &.blue {
      @include retina-image("#{$img-path}/Web_Design_Blue", 100% 100%);
    }

    .project-icon-tooltip { //positioning of tooltip
      left: -35px;

      &:after {
        left: 44px;
      }
    }
  }

}

.project-icon-tooltip {
  background-color: $joseph-lightblue;
  color: white;
  display: block;
  font-family: $karla;
  font-style: normal;
  font-size: 0.9rem;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  text-transform: capitalize;
  top: -60px;
  white-space: nowrap;
  @include transition(all 0.2s ease-in-out);

  &:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $joseph-lightblue;
    bottom: -5px;
    content: '';
    height: 0;
    position: absolute;
    width: 0;
  }

  &--active {
    opacity: 1;
    top: -40px;
  }
}

%project-icon-plus {
  content: '+';
  font-family: $brandon-grotesque;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  left: -16px;
  top: 1px;
}