.about {
  $about-horizontal-margin: 75px;
  $about-image-dimensions:  100px;

  font-family: $karla;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  @include calc(min-height, "100% - (#{$header-height} + #{$footer-height})");

  &__meta {
    background-color: white;
    display: inline-block;
    padding: $default-content-margin 0;
    font-size: 1.5rem;
    width: 100%;

    &__wrapper {
      margin: 0 auto;
      width: $alt-content-width;

      &__img__container {
        border-radius: 100%;
        display: inline-block;
        height: $about-image-dimensions;
        margin-right: $about-horizontal-margin;
        position: relative;
        overflow: hidden;
        width: $about-image-dimensions;

        // position image properly + crop + scale down
        img {
          left: 50%;
          position: absolute;
          top: 65%;
          @include transform(translate(-50%, -50%) scale(0.35));
        }
      }

      &__content {
        display: inline-block;
        width: 70%;

        &__heading {
          color: $joseph-darkblue;
          margin: 0;
        }

        &__description {
          color: $secondary-text-gray;
          margin: 5px 0;
        }

        &__resume {
          color: $joseph-lightblue;
          font-size: 1rem;
        }
      }
    }
  }

  &__content {
    margin: $default-content-margin * 2 auto;
    width: $alt-content-width;

    &__main {
      background-color: $offwhite;
      color: $secondary-text-gray;
      float: left;
      position: relative;
      width: 70%;
      @include heading-line($joseph-lightblue, -20px, $default-heading-line-width);

      a {
        color: $joseph-lightblue;
      }

    }

    &__skills {
      display: inline-block;
      position: relative;
      @include heading-line($joseph-lightblue, -20px, $default-heading-line-width);

      &__heading {
        color: $joseph-darkblue;
        margin: 0;
      }

      &__list {
        color: $secondary-text-gray;
        list-style-type: none;
        padding: 0;
      }
    }
  }

  @include media($bp8) {
    min-height: none;
    padding: $default-content-margin;
    width: 100%;

    &__img__container {
      display: block;
      float: none;
      width: 100%;
    }

    &__meta {
      display: block;
      margin-left: 0;
      width: 100%;
    }
  }

  @include media($bp12) {
    padding: $mobile-content-padding;
  }
}
