.footer {
  $logo-height:                   36px;
  $logo-width:                    36px;
  $social-media-square-dimension: 32px;
  $twitter-color:                 #55ACEE;
  $linkedin-color:                #006699;

  background-color: white;
  clear: both;
  height: $footer-height;
  font-family: $robotoslab;
  width: 100%;

  &__wrapper {
    margin: 0 auto;
    width: $main-width;
  }

  &__logo {
    display: none;
    float: left;
    height: $logo-height;
    margin-left: $footer-horizontal-padding;
    width: $logo-width;
    @include calc(margin-top, "(#{$footer-height} - #{$logo-height})/2");
  }

  &__copyright {
    font-size: 1rem;
    float: right;
    @include calc(margin-top, "(#{$footer-height} - #{$social-media-square-dimension})/2");
  }

  &__social-media {
    float: left;
    @include calc(margin-top, "(#{$footer-height} - #{$social-media-square-dimension})/2");

    &__item {
      display: inline-block;
      height: $social-media-square-dimension;
      width: $social-media-square-dimension;

      &:nth-child(n+2) {
        margin-left: 10px;
      }

      i {
        background-color: $joseph-darkblue;
        border-radius: 50%;
        display: block;
        height: 100%;
        position: relative;
        width: 100%;
      }

      &--linkedin i  {

        &:hover {
          background-color: $linkedin-color;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 14px;
          left: 9px;
          top: 8px;
          width: 15px;
          @include retina-image("#{$img-path}/Linkedin_In", 100% 100%);
        }
      }

      &--twitter i {

        &:hover {
          background-color: $twitter-color;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 16px;
          left: 7px;
          top: 8px;
          width: 19px;
          @include retina-image("#{$img-path}/Twitter_Bird", 100% 100%);
        }
      }

    }

  }

  @include media($bp8) { //no footer on mobile
    display: none;
  }

}