.footer {
  $footer-bottom-padding:         40px;
  $logo-height:                   36px;
  $logo-width:                    36px;
  $social-media-square-dimension: 32px;
  $twitter-color:                 #55ACEE;
  $linkedin-color:                #006699;

  background-color: white;
  border-top: $default-content-border;
  clear: both;
  height: auto;
  font-family: $karla;
  overflow: hidden;
  width: 100%;

  &__wrapper {
    height: 100%;
    margin: 0 auto;
    width: $main-width;
  }

  &__left {
    float: left;
    height: 100%;
    margin: $default-content-margin 0 $footer-bottom-padding;
  }

  &__right {
    float: right;
    height: 100%;
    margin: $default-content-margin 0 $footer-bottom-padding;
  }

  &__heading {
    color: $joseph-darkblue;
    font-size: 1rem;
    position: relative;
    text-transform: uppercase;

    &:before {
      background-color: $joseph-darkblue;
      content: "";
      height: 1px;
      left: 0;
      position: absolute;
      top: -8px;
      width: 36px;
    }
  }

  &__confirm {
    display: none;
    text-align: center;
    width: 100%;

    &--active {
      display: block;
    }

    &--error {
      color: red;
    }

    &--success {
      color: green;
    }
  }

  &__copyright {
    color: $joseph-darkblue;
    font-size: 1rem;
    margin-top: 10px;
  }

  &__social-media {
    margin-top: 100px;

    &__item {
      display: inline-block;
      height: $social-media-square-dimension;
      width: $social-media-square-dimension;

      &:nth-child(n+2) {
        margin-left: 10px;
      }

      i {
        background-color: $joseph-darkblue;
        border-radius: 50%;
        display: block;
        height: 100%;
        position: relative;
        width: 100%;
      }

      &--linkedin i  {

        &:hover {
          background-color: $linkedin-color;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 14px;
          left: 9px;
          top: 8px;
          width: 15px;
          @include retina-image("#{$img-path}/Linkedin_In", 100% 100%);
        }
      }

      &--twitter i {

        &:hover {
          background-color: $twitter-color;
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          height: 13px;
          left: 9px;
          top: 9.5px;
          width: 15px;
          @include retina-image("#{$img-path}/Twitter_Bird", 100% 100%);
        }
      }

    }

  }

  &__contact-meta {

    &__phone {
      margin-top: 5px;
    }

    &__phone, &__email {
      display: block;
      a {
        color: $joseph-darkblue;
        text-decoration: none;

        &:hover {
          color :$joseph-lightblue;
        }
      }
    }

  }

  &__contact-form {

    &__heading {
      margin: $mobile-content-padding 0;

      &--text {
        background-color: white;
        display: inline-block;
        margin: 0;
      }

      &--send {
        background-color: white;
        border: 0;
        color: gray;
        float: right;
      }
    }

    &__email {
      display: inline-block;
      margin-right: 18px;
      width: 250px;
    }

    &__extra { //spam prevention
      display: none;
    }

    &__subject {
      display: inline-block;
      width: 350px;
    }

    &__message {
      display: block;
      margin-top: 19px;
      resize: none;
      width: 100%;
    }

  }

  @include media($bp8) {

    &__wrapper {
      padding: $default-content-margin;
      width: 100%;
    }

    &__left, &__right {
      margin: 0;
    }

  }

  @include media($bp11) {

    &__wrapper {
      padding: $mobile-content-padding;
    }

    &__left {
      float: none;
      margin: 0;
      width: 100%;
    }

    &__right {
      display: none;
    }

    &__contact-meta__email {
      margin-top: 8px;
    }

  }

}