.footer {
  $logo-height:             36px;
  $logo-width:              36px;

  clear: both;
  height: $footer-height;
  width: 100%;

  &__logo {
    float: left;
    height: $logo-height;
    margin-left: $footer-horizontal-padding;
    width: $logo-width;
    @include calc(margin-top, "(#{$footer-height} - #{$logo-height})/2");
  }

  &__copyright {
    font-size: rem($header-footer-font-size-px);
    float: right;
    margin-right: $footer-horizontal-padding;
    @include calc(margin-top, "(#{$footer-height} - (#{$logo-height})*1/4)/2");
  }

  @include media($bp8) { //no footer on mobile
    display: none;
  }

}