.header {
  $logo-height:                           60px;
  $logo-width:                            60px;
  $logo-mobile-height:                    38px;
  $logo-mobile-width:                     166px;
  $nav-item-horizontal-padding:           15px;
  $nav-item-vertical-padding:             10px;
  $highlight-padding:                     5px;

  background-color: white;
  //box-shadow: -1px 3px 12px 5px rgba(0,0,0,0.2);
  border-bottom: $default-content-border;
  height: $header-height;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 2;
  @include transition(all 0.3s ease-in-out, height 0.1s ease-in-out);

  &.fixed {
    box-shadow: -1px 2px 10px 3px rgba(0,0,0,0.2);
    height: 0;
    position: fixed;
    top: 0;
  }

  &.hidden {
    height: 0 !important;
    overflow: hidden;
  }

  &__wrapper {
    margin: 0 auto;
    width: $main-width;
  }

  &__logo {
    background-repeat: no-repeat;
    display: none;
    float: left;
    height: $logo-height;
    width: $logo-width;
    @include calc(margin-top, "(#{$header-height} - #{$logo-height})/2");
    //@include retina-image("#{$img-path}/Joseph_Logo", $logo-width $logo-height);
  }

  &__name {
    color: $joseph-darkblue;
    display: inline-block;
    font-family: $geomanist;
    font-size: 2rem;
    margin-top: 12px;
    text-decoration: none;

    &:hover {
      color: $joseph-lightblue;
    }
  }

  &__nav {
    float: right;
    margin-top: 12px;
    font-family: $karla;
    font-weight: bold;
    text-transform: capitalize;

    &__item {
      $module: ".header__nav__item";

      color: $joseph-darkblue;
      display: inline-block;
      font-size: 1.1rem;
      position: relative;
      text-decoration: none;
      padding: $nav-item-vertical-padding $nav-item-horizontal-padding;

      &--active {
        color: $joseph-lightblue;
      }

      &:not(#{$module}--active):hover {
        color: $joseph-lightblue;
      }

    }

  }

  @include media($bp8) {
    &__wrapper {
      padding: 0 $default-content-margin;
      width: 100%;
    }
  }

  @include media($bp12) {

    &__wrapper {
      padding: 0 $mobile-content-padding;
    }

    &__nav {
      display: none;
    }

  }
}

.header__mobile__nav {
  $menu-button-height:                    12px;
  $menu-button-width:                     24px;

  display: none;
  float: right;
  position: relative;


  &.active {

    .header__mobile__nav__button {
      @include retina-image("#{$img-path}/Menu_Icon_Active", 100% 100%);
    }

    .header__mobile__nav__menu {
      height: 138px;
    }
  }

  &__button {
    display: block;
    height: $menu-button-height;
    width: $menu-button-width;
    @include calc(margin-top, "(#{$header-height} - #{$menu-button-height}) / 2");
    @include retina-image("#{$img-path}/Menu_Icon", 100% 100%);
  }

  &__menu {
    background-color: white;
    border-bottom: $default-content-border;
    border-left: $default-content-border;
    border-right: $default-content-border;
    height: 0;
    left: -141px;
    list-style: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 53px;
    z-index: 2;
    @include transition(all 0.3s ease-in-out);

    &__item {
      padding: 25px 75px;

      a {
        color: $joseph-darkblue;
        text-decoration: none;
      }
    }
  }

  @include media($bp12) {
    display: block;
    margin-right: $mobile-content-padding;
  }
}
