.project {
  margin: 0 auto;
  width: $main-width;

  h4 {
    margin: 0;

    ~p {
      margin-top: 0;
    }
  }

  &__meta {
    background-color: white;
    border: $default-content-border;
    //box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.3);
    font-family: $karla;
    font-size: 0.9rem;
    padding: 20px 30px;
    position: fixed;
    @include calc(width, "#{$main-width} - (#{$default-content-width} + #{$default-content-margin})");
    @include calc(top, "#{$header-height} + #{$default-content-margin}");

    &__heading {
      color: $joseph-darkblue;
      display: block;
      margin-bottom: 10px;
      width: 100%;

      &__name {
        display: inline-block;
        margin-bottom: 5px;
        margin-top: 0;
      }

      &__icons {
        float: right;

        &__item {

          &:nth-child(n+2) {
            margin-left: 25px;

            &:before {
              @extend %project-icon-plus;
              color: $joseph-lightblue;
            }
          }
        }
      }

    }

    &.relative {
      float: left;
      position: relative;
    }

  }

  &__img {
    border: $default-content-border;
    height: auto;
    margin-left: 400px;
    width: $default-content-width;

    &:nth-of-type(n+2) {
      margin-top: $default-content-margin;
    }
  }

  @include media($bp8) {
    padding: $default-content-margin;
    width: 100%;

    &__meta {
      margin: 0 auto;
      position: static;
      width: $default-content-width;
    }

    &__img {
      display: block;
      margin: $default-content-margin auto 0;
    }
  }

  @include media($bp12) {
    padding: $mobile-content-padding;

    &__meta, &__img {
      width: 100%;
    }

    &__img {
      margin-top: $mobile-content-padding;
    }
  }
}
