html, body {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
  font-size: $base-font-size;
}

body {
  background-color: $offwhite;
  font-family: $karla;
  font-style: normal;
  font-weight: normal;
  overflow-y: scroll;

  &.unscrollable {
    overflow: hidden;
  }
}

main { //set font
  padding: $default-content-margin 0;
  position: relative;

  @include media($bp12) {
    padding: $mobile-content-padding 0;

    &.menu-active .menu-overlay {
      background-color: rgba(0, 0, 0, 0.85);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width:100%;
    }
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}