html, body {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
  font-size: $base-font-size;
}

body {
  background-color: $offwhite;
  font-family: $karla;
  font-style: normal;
  font-weight: normal;
  overflow-y: scroll;
}

main { //set font
  padding: $default-content-margin 0;

  @include media($bp12) {
    padding: $mobile-content-padding 0;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}