html, body {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
  font-size: $base-font-size;

  @include media($bp12) {
    font-size: 10px;
  }

}

body {
  background-color: $offwhite;
}

main { //set font
  font-family: $robotoslab;
  padding-top: 30px;
}

*, *:before, *:after {
  box-sizing: inherit;
}