<main class="about" itemscope itemtype="http://schema.org/Person" itemref="email-contact joseph-le telephone-contact">
  <div class="about__img__container">
    <img class="about__img__container-img" src="images/About_Image.png" alt="Picture of Joseph Le, Visual Designer" itemprop="image"/>
    <a class="about__img__container-cred" href="http://julieannatang.com">Photo Credit: Julie Tang</a>
  </div>

  <div class="about__meta">
    <h1 class="about__meta__heading">About Me</h1>

    <h2 class="about__meta__subheading">
      I am a <span itemprop="jobTitle">visual designer</span> from <span itemprop="homeLocation workLocation">Toronto</span>. <span itemprop="description">I am an aspiring entrepreneur, storyteller,
      and pixel pusher</span>.
    </h2>

    <p class="about__meta__description">
      I graduated from <span itemprop="alumniof" itemscope itemtype="http://schema.org/CollegeOrUniversity"><span itemprop="name">OCAD University</span></span> with a <span itemprop="award">Bachelor's degree in Graphic Design</span>.
      During my time there, <span itemprop="description">I gained a strong appreciation and interest in all
      design-related things, particularly typography and UI/UX design</span>.
    </p>
    <p class="about__meta__description">
      A fundamental part of my design process is finding the perfect balance between function and form.
      My designs embrace this challenge from the pixel-level, ensuring that the final product is both
      compelling and engaging.
    </p>
    <p class="about__meta__description">
      My positive personality coupled with strong communication and organization skills
      have added value to all the projects I have been involved with. <span itemprop="description">I am always eager
      to experiment with new mediums and tools; consequently, this lets me analyze and tackle visual problems
      with unique and creative solutions</span>.
    </p>
    <p class="about__meta__description">
      <span itemprop="description">I am currently seeking a professional role where I can expand my skill set and
      explore new avenues to continuously innovate my craft</span>. I have the commitment and
      critical thinking skills to thrive in any environment. My strong work ethic,
      along with my skill set and passion, would make me a valuable asset to any team.
    </p>
    <p class="about__meta__description">
      When I am not working away at a desk, you will probably find me playing tennis or
      ultimate frisbee, exploring the city, fiddling with the latest technology, or
      staying up to date with media content so that I can make snappy pop culture references.
    </p>
    <link href="http://josephle.xyz" itemprop="url">
    <a href="files/Resume_Joseph.pdf" target="_blank"><button class="about__meta__resume input-button-lightblue">RESUME</button></a>
  </div>
</main>