<main class="about" itemscope itemtype="http://schema.org/Person" itemref="email-contact joseph-le telephone-contact">
  <div class="about__meta">
    <div class="about__meta__wrapper">
      <div class="about__meta__wrapper__img__container">
        <img src="images/About_Image.png" alt="Picture of Joseph Le, Visual Designer" itemprop="image"/>
      </div>
      <div class="about__meta__wrapper__content">
        <h2 class="about__meta__wrapper__content__heading">
          Hello!
        </h2>
        <h2 class="about__meta__wrapper__content__description">
          I am <span itemprop="name">Joseph Le</span>, a <span itemprop="jobTitle">visual designer</span> from <span itemprop="homeLocation workLocation">Toronto</span>. I am passionate about creating user-centric designs and crafting compelling narratives.
        </h2>
        <a class="about__meta__wrapper__content__resume">View Resume</a>
      </div>
    </div>
  </div>
  <article class="about__content">
    <div class="about__content__main"
      <p class="about__content__main__paragraph">
        I am currently working as a <span itemprop="jobTitle">Graphic Designer</span> at <a href="https://www.navltd.com/"><span itemprop="worksFor workLocation" itemtype="https://schema.org/Organization"><span itemprop="name">Navigator Ltd</span></span></a>.
      </p>
      <p class="about__content__main__paragraph">
        Previously, I was working at Pakathon Global developing graphic assets and strategy to strengthen the brand; it currently operates across 15 cities.
      </p>
      <p class="about__content__main__paragraph">
        I graduated from <span itemprop="alumniof" itemscope itemtype="http://schema.org/CollegeOrUniversity"><span itemprop="name">OCAD University</span></span> where I studied <span itemprop="">Graphic Design</span>.
      </p>
    </div>
    <div class="about__content__skills">
      <h3 class="about__content__skills__heading">Technical Proficiencies</h3>
      <ul class="about__content__skills__list">
        <li>Adobe Illustrator</li>
        <li>Adobe Photoshop</li>
        <li>Adobe InDesign</li>
        <li>Adobe After Effects</li>
        <li>HTML &amp; CSS</li>
        <li>Microsoft Office Suite</li>
        <li>Keynote</li>
        <li>Sketch</li>
      </ul>
    </div>
  </article>
</main>