<main class="about">
  <img class="about__img" src="images/About_Temp_Image.png" alt=""/>

  <div class="about__meta">
    <h1 class="about__meta__heading">About Me</h1>

    <h2 class="about__meta__subheading">
      I'm a visual designer from Toronto. I'm an aspiring entrepreneur, storyteller,
      and pixel pusher.
    </h2>

    <p class="about__meta__description">
      I graduated from OCAD University with a Bachelor's degree in Graphic Design.
      During my time there, I gained a strong appreciation and interest in all
      design-related things, particularly typography, UI/UX design, and human-computer
      interactions.
    </p>
    <p class="about__meta__description">
      A fundamental part of my process is to continually iterate until I can strike the
      perfect balance between functionality and aesthetics. Working through little
      micro details, especially at a pixel-level ensures that my designs can reach a
      level of quality that is both compelling, and engaging.
    </p>
    <p class="about__meta__description">
      Working positively in a team environment is very natural to me and I am able to
    work independently with due diligence. I am always eager to experiment with new
    mediums and tools. Consequently, this lets me analyze and tackle visual problems
    with unique and creative solutions.
    </p>
    <p class="about__meta__description">
      I am currently seeking a professional role where I can expand my skillset and
      explore new avenues to continually innovate my craft.
    </p>
    <p class="about__meta__description">When I'm not working away at a desk, you will probably find me playing tennis,
      ultimate frisbee, exploring the city, fiddling with the latest technology, or
      staying up to date with media content so that I can make snappy pop culture
      references.
    </p>
    <a href="files/Resume_Joseph.pdf" download="Joseph_Le_Resume.pdf"><button class="about__meta__resume input-button-lightblue">RESUME</button></a>
  </div>
</main>
