<main class="about">
  <div class="about__hero"></div>
  <div class="about__text">
    <h1 class="about__text__heading">What is Boxnest?</h1>
    <p class="about__text__content">
      Boxnest, as we define it, is a congruent and seamless unity of dissimilar things.
    </p>
    <p class="about__text__content">
      As a company, we view design and function to be an integral part of everything we do and our philosophy
      has always been to consider each element in relation to the other during our creative process. We want
      to build things that work AND look good!
    </p>
    <h2 class="about__text__subheading">What We Do</h2>
    <p class="about__text__content">
      At Boxnest, we want to create a home for your ideas. We embrace your vision and will collaborate with you,
      starting with the foundations. We nurture your ideas; we strive to create an atmosphere for growth while bring
      focus to your goals. Ultimately, we want you to take flight; we will elevate your product to new heights!
    </p>
  </div>
</main>
