<main class="about">
  <img class="about__img" src="" alt=""/>

  <div class="about__meta">
    <h1 class="about__meta__heading">About Me</h1>

    <h2 class="about__meta__subheading">Some more Joseph stuff</h2>

    <p class="about__meta__description">Hi, I'm Joseph the Ninja.</p>
    <button class="about__meta__resume">RESUME</button>
  </div>
</main>
