<main class="about">
  <img class="about__img" src="images/About_Temp_Image.png" alt=""/>

  <div class="about__meta">
    <h1 class="about__meta__heading">About Me</h1>

    <h2 class="about__meta__subheading">Some more Joseph stuff</h2>

    <p class="about__meta__description">Hi, I'm Joseph the Ninja.</p>
    <a href="files/Resume_Joseph.pdf" download="Joseph_Le_Resume.pdf"><button class="about__meta__resume input-button-lightblue">RESUME</button></a>
  </div>
</main>
