<main class="contact default-content">
  <form class="contact__form">
    <h2 class="contact__form__heading">We'd love to hear from you!</h2>
    <input placeholder="Name" name="name" class="contact__form__name input-text" type="text"/>
    <input placeholder="Email" name="email" class="contact__form__email input-text" type="text"/>
    <textarea rows="4" placeholder="Message" name="message" class="contact__form__message input-text"></textarea>
    <button class="contact__form__button input-button-yellow">Send</button>
  </form>
</main>
