<footer class="footer">
  <div class="footer__wrapper">
    <a href="/home"><i class="footer__logo"></i></a>
    <div class="footer__social-media">
      <a class="footer__social-media__item footer__social-media__item--twitter" href="https://twitter.com/le_joseph"></a>
      <a class="footer__social-media__item footer__social-media__item--linkedin" href="https://ca.linkedin.com/in/josephledesign"></a>
    </div>
    <div class="footer__copyright">&copy; 2015 Joseph Le</div>
  </div>
</footer>
