<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__left">
      <div class="footer__contact-meta">
        <h2 class="footer__contact-meta__heading footer__heading">Contact</h2>
        <span class="footer__contact-meta__phone"><a id="telephone-contact" itemprop="telephone" href="tel:1-647-770-0975">647 770 0975</a></span>
        <span class="footer__contact-meta__email"><a id="email-contact" itemprop="email" href="mailto:josephle.14@gmail.com">josephle.14@gmail.com</a></span>
      </div>
      <div class="footer__social-media">
        <a class="footer__social-media__item footer__social-media__item--twitter" href="https://twitter.com/le_joseph" target="_blank">
          <i></i>
        </a>
        <a class="footer__social-media__item footer__social-media__item--linkedin" href="https://ca.linkedin.com/in/josephledesign" target="_blank">
          <i></i>
        </a>
      </div>
      <div class="footer__copyright">&copy; 2015 Joseph Le</div>
    </div>
    <div class="footer__right">
      <form class="footer__contact-form" method="POST">
        <div class="footer__contact-form__heading">
          <h2 class="footer__contact-form__heading--text footer__heading">Drop me a message!</h2>
          <button class="footer__contact-form__heading--send">Send</button>
        </div>
        <input class="footer__contact-form__extra" type="text" name="extra" />
        <input class="footer__contact-form__email input-text" name="email" type="text" placeholder="E-mail"/>
        <input class="footer__contact-form__subject input-text" name="subject" type="text" Placeholder="Subject"/>
        <textarea class="footer__contact-form__message input-textarea" rows="3" name="message" placeholder="Message"></textarea>
      </form>
      <div class="footer__confirm">

      </div>
    </div>
  </div>
</footer>
