<header class="header">
  <div class="header__wrapper">
    <a href="/home">
      <i class="header__logo"></i>
      <span class="header__name" id="joseph-le" itemprop="name">Joseph Le</span>
    </a>
    <nav class="header__nav">
      <a class="header__nav__item header__nav__item--work{{#if landing-active}} header__nav__item--active{{/if}}" href="/">Work</a>
      <a class="header__nav__item header__nav__item--about{{#if about-active}} header__nav__item--active{{/if}}" href="/about">About</a>
    </nav>
    <nav class="header__nav__mobile">
      <button class="header__nav__mobile__menu input-button-white">Menu</button>
    </nav>
  </div>
</header>
