<header class="header">
  <div class="header__wrapper">
    <a href="/home">
      <i class="header__logo"></i>
      <h1 class="header__name" id="joseph-le" itemprop="name">Joseph Le</h1>
    </a>
    <nav class="header__nav">
      <a class="header__nav__item header__nav__item--work{{#if landing-active}} header__nav__item--active{{/if}}" href="/">Work</a>
      <a class="header__nav__item header__nav__item--about{{#if about-active}} header__nav__item--active{{/if}}" href="/about">About</a>
    </nav>
    <nav class="header__mobile__nav">
      <i class="header__mobile__nav__button"></i>
      <ul class="header__mobile__nav__menu">
        <li class="header__mobile__nav__menu__item"><a href="/home">Work</a></li>
        <li class="header__mobile__nav__menu__item"><a href="/about">About</a></li>
      </ul>
    </nav>
  </div>
</header>
