<main class="landing default-content">
  <div class="landing__wrapper">
    {{~#each project~}}
      {{~#isMod0 @index 3~}}
        <div class="landing__row">
      {{~/isMod0~}}

        <a class="landing__row__project" href="{{this.link}}">
          <div class="landing__row__project__img" style="background-image: url('{{this.img}}')">
            <span class="landing__row__project__name">{{this.name}}</span>
          </div>
        </a>

      {{~#if @index~}}
        {{~#isMod0 @index 2~}}
          </div>
        {{~/isMod0~}}
      {{~/if~}}

    {{~/each~}}
  </div>
</main>
